<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单筛选页面</title>
</head>
<body>
<h1>订单筛选</h1>
<form th:action="@{/inSelect/page=/0}" method="post" id="formId">

<label for="Id">customerId：</label><input type="text" name="cid" id="Id" >
    <label for="Fdate">From：</label><input type="date" name="fdate" id="Fdate" >
    <label for="Sdate">To：</label><input type="date" name="sdate" id="Sdate" >
    <br>
    <p></p>
        <tr>
            <td colspan="2">
                <input type="submit" value="提交">
            </td>
        </tr>
</form>
<p></p>
<div id="table-wrapper">
<table width="70%" height="50px" align="center" border="2" cellpadding="15px" cellspacing="0" id="my-table" style="display:none;">
    <thead>
    <tr>
        <th>序号</th>
        <th>id</th>
        <th>order_date</th>
        <th>total_amount</th>
        <th>cid</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${specOrders}">
        <td th:text="${currentPage * PageSize + orderStat.index+1}"></td>
        <td th:text="${order.id}"></td>
        <td th:text="${order.orderDate}"></td>
        <td th:text="${order.totalAmount}"></td>
        <td th:text="${order.customer.id}"></td>
    </tr>
    </tbody>
    <div id="page">
    <span th:if="${totalPages>0}" th:text="${currentPage+1}"></span>
    <span th:if="${totalPages>0}" >/</span>
    <span th:if="${totalPages>0}" th:text="${totalPages}"></span>
    </div>
<div id="PN">
<!--    a标签默认用Get方式跳转  由于上面的form表单和a标签map的方式不同一个是post一个是map所以controller层用RequestMapping注解即可以匹配post
也可以匹配get-->
    <a id="previous" th:if="${totalPages > 0}" th:href="@{'/inSelect/page=/'+${currentPage - 1}}">Previous</a>
    <a id="next" th:if="${totalPages>0}" th:href="@{'/inSelect/page=/'+${currentPage + 1}}">Next</a>
</div>
</table>
</div>

<script>
    var data = "[[${specOrders}]]";
    console.log(data);
    if (data.length>0){
        document.getElementById("my-table").style.display="table";
    }
    var cp = "[[${currentPage}]]"
    if (cp < 1) {
        document.getElementById("previous").href = "#";
    }
    var tp = "[[${totalPages}]]"
    if (tp-cp <= 1) {
        document.getElementById("next").href = "#";
    }

    const Id = document.getElementById("Id");
    Id.addEventListener("input",function () {
        const value = this.value;

        //正则匹配输入数据格式
        const regex = /^[0-9]?$/;
        const isValid = regex.test(value);

        //判断合法性
        if (!isValid){
            this.setCustomValidity("请输入数字或置空");
        }else {
            this.setCustomValidity("");
        }
    })
</script>
</body>

</html>